body{
    height: 1200px;
    width: 100%;
    margin: 0;
}
.menu-principal{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    transition: 0.6s;
    padding-top: 40px;
    z-index: 100000;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
main{
    width: 980px;
}
.header-1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.titulo{
    float: left;
    padding: 15px;
    width: 50%;
    font-size: 25px;
}
.atalhos ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.atalhos ul li{
    display: inline-block;
    float: left;
    font-size: 25px;
    position: relative;
}
.atalhos ul li a:hover{
    color: #36876f;
}
.atalhos ul li a{
    color: black;
    text-decoration: none;
    position: relative;
    font-size: 28px;
    transition: 0.6s;
}
.atalhos{
    margin: 0 auto;
    float: left;
}
.col-100{
    width: 100%;
    float: left;
    position: relative;
}
.texto1{
    width: 187px;
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    margin: 0;
}
.texto2{
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    width: 187px;
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    border-left-color: black;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
    margin: 0;
}
header.sticky{
    background: black;
    padding-top: 3px;
}
header.sticky ul li a
{
    color: white;
}
header.sticky .texto2 { 
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    border-color: white;
}
