body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Poppins;
    background-color: #242424;
    margin-bottom: 2vh;
}

.menu-principal {
    width: 100%;
    top: 0;
    left: 0;
    position: sticky;
    transition: 0.6s;
    padding-top: 40px;
    z-index: 100000;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

main {
    width: 980px;
}

.header-1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.titulo {
    float: left;
    padding: 15px;
    width: 50%;
    font-size: 25px;
}

.atalhos ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.atalhos ul li {
    display: inline-block;
    font-size: 25px;
    position: relative;
}

.atalhos ul li a:hover {
    color: #36876f;
}

.atalhos ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 28px;
    transition: 0.6s;
}

.atalhos {
    margin: 0 auto;
    float: left;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

.texto1 {
    width: 187px;
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    margin: 0;
}

.texto1-sel {
    width: 187px;
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    margin: 0;
    color: #36876f;
}

.texto2-sel {
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    width: 187px;
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    border-left-color: white;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    margin: 0;
    color: #36876f;
}

.texto2 {
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    width: 187px;
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    border-left-color: white;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    margin: 0;
}

header.sticky {
    background: white;
    padding-top: 3px;
}

header.sticky ul li a {
    color: black;
}

header.sticky .texto2 {
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    border-color: black;
}

header.sticky .texto2-sel {
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    border-color: black;
}

.nome {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.titulo-p {
    color: white;
    font-size: 4rem;
    margin: 20px;
}

.subtitulo {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 20vh;
}

.titulo-proj {
    color: white;
    font-size: 2rem;
}

.subtitulo-proj {
    color: white;
    font-size: 1rem;
}

.pfp {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 0;
    margin-top: 5vh;
}

.projetos-titulo {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
}

.galeria {
    background-color: #242424;
    padding-top: 50px;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2vh;
}

.section1 img {
    width: 700px;
    height: 400px;
    object-fit: cover;
}

.section1 a {
    margin: 10px;
    position: relative;
}

.img-hover {
    width: 700px;
    height: 400px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.747);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.4s;
}

.overlay:hover {
    opacity: 1;
}

.pag-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hidden {
    opacity: 0;
    transition: all 0.3s;
    transform: translateY(-10%);
    display: flex;
    justify-content: center;
}

.show {
    opacity: 1;
    transition: all 0.3s;
    transform: translateY(0);
}

.vaz{
    visibility: hidden;
}

.titulo-sobre{
    color: white;
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.par-sobre{
    color: white;
    font-size: 1rem;
    text-align: left;
}

.texto-sobre{
    max-width: 40vw;
}

.titulo-cont{
    padding-top: 5vh;
    color: white;
    font-size: 2.5rem;
    text-align: left;
    width: 40vw;
    border: 0;
    border-bottom: 2px;
    border-style: solid;
    border-color: white;
    padding-bottom: 3vh;
}

.titulo-pag-proj{
    padding-top: 5vh;
    color: white;
    font-size: 2.5rem;
    text-align: left;
    width: 70vw;
    border: 0;
    border-bottom: 2px;
    border-style: solid;
    border-color: white;
    padding-bottom: 3vh;
}

.descrição{
    color: white;
    text-align: justify;
    font-size: 1rem;
    max-width: 40vw;
}

.pag-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.texto-cont{
    max-width: 40vw;
}

.texto-proj{
    max-width: 70vw;
}

.display-flex{
    display: flex;
    justify-content: space-between;
}

.subtitulo-cont{
    color: white;
    font-size: 1.5rem;
    text-align: left;
}

.subtitulo-pag-proj{
    color: white;
    font-size: 1.3rem;
    text-align: left;
}

i{
    font-size: 3rem;
    padding: 1vw;
}

a{
    color: white;
    text-decoration: none;
}

.img-proj{
    padding-top: 5vh;
    width: 70vw;
    object-fit: cover;
}

video{
    max-width: 70vw;
    margin-top: 5vh;
}

.main-pag{
    display: flex;
    align-items: center;
}

#main1{
    height: 100vh;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .texto1 {
        width: 33vw;
        font-size: 1.5rem;
    }
    .texto2 {
        width: 33vw;
        font-size: 1.5rem;
    }
    .texto1-sel {
        width: 33vw;
        font-size: 1.5rem;
    }
    .texto2-sel {
        width: 33vw;
        font-size: 1.5rem;
    }
    .titulo-p{
        font-size: 3rem;
    }
    .subtitulo{
        font-size: 1rem;
    }
    .section1 img {
        width: 90vw;
        height: 33vh;
    }
    .img-hover {
        width: 90vw;
        height: 33vh;
    }
    .texto-sobre {
        max-width: 80vw;
    }
    .texto-cont {
        max-width: 80vw;
    }
    .titulo-cont {
        width: 80vw;
    }
    .subtitulo-cont {
        font-size: 1.1rem;
        margin-bottom: 20vh;
    }
}
